@font-face {
    font-family:halloween;
    src: url(../DangerNightPersonalUse-owdl4.ttf);
}
body{

    
    overflow-x: hidden;
    

    

}


.bg-trans{
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hover:hover{
 transform: scale(1.3);
 transition: all 0.2s;
}

.hober:hover{
    transform: scale(1.1);
 transition: all 0.2s;
 background-color: rgba(240, 248, 255, 0);
}




.alinear{
    
}
.recetasimg{
    height: 
    450px;
    
}
.titulo{
    font-family:halloween;
    color: rgb(254, 69, 1);
}
.fff{
    font-size: 8rem;
    margin-left: 15px;
}
.titulo1{
    font-family:halloween;
    font-size: 1.8rem;
}
.boton{
    font-family:halloween;
border-radius: 10px;
}
.fotos{
    
    border-radius: 10px;
}
@media screen and (max-width:768px) {
    .recetasimg{
        height: 250px;
        
    }
    
}