@font-face {
    font-family:halloween;
    src: url(../DangerNightPersonalUse-owdl4.ttf);
}
@font-face {
    font-family:halloween2;
    src: url(../DripOctober-vm0JA.ttf);
}
body{

    
    overflow-x: hidden;
    

    

}
.recetashalloween{
    display: none;
}

.contenido{
    display: block;

}

.comidas{
    width: 10vh;
    height: 30vh;
}

.bg-trans{
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.click{
    cursor: pointer;
}

.hover:hover{
 transform: scale(1.3);
 transition: all 0.2s;
}

.hober:hover{
    transform: scale(1.1);
 transition: all 0.2s;
 background-color: rgba(240, 248, 255, 0);
}

.recetasimg{
    height: 
    450px;
    
}
.titulo{
    font-family:halloween;
    color: rgb(254, 69, 1);
}
.fff{
    font-size: 8rem;
    margin-left: 15px;
}
.titulo1{
    font-family:halloween;
    font-size: 1.8rem;
}
.boton{
    font-family:halloween;
border-radius: 10px;
}
.fotos{
    
    border-radius: 10px;
}
.card-body{

    border-radius: 5px;
}

.letrasR{
    text-align: center;
    margin-top: 20%;
    font-family: halloween2;
}
.boton2{
    margin-top: 100px;
    margin-left: 45%;
    border-radius: 10px;
    background-color: red;
    color: yellow;
}
.boton3{
    margin-top: 100px;
    margin-left: 45%;
    border-radius: 10px;
    background-color: rgb(167, 167, 167);
    color: black;
}
.textoJuego{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    border-radius: 10px;
    height: 40vh;
    margin-top: 25vh;
}
.textJuego{
    padding: 60px;
}


@media screen and (max-width:768px) {
    .recetasimg{
        height: 250px;
        
    }
    .comidas{
        
    height: 15vh;
    }

    
    
}


@media screen and (max-width:991px) {
    
    #tarjeta{
        width: 14rem;
        font-size: 0.7rem;

        }
    
        .comidas{
        
            height: 17vh;
            }
        
        
    
}
@media screen and (max-width:768px) {
    
    #tarjeta{
        width: 10rem;
        font-size: 0.7rem;

        }
    
        
        
    
}
@media screen and (max-width:481px) {
    
    #tarjeta{
        width: 8rem;
        font-size: 0.5rem;
        
        }

        .card-title{
            font-size: 1rem;
        }

        #textogrande{
            font-size: 0.6rem;
        }
    
        
        
    
}